@use './variables';
@use './tdesign';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "IBM Plex Sans", "Noto Sans SC", "Segoe UI", sans-serif;
  background: #f3f3f3;
  color: #1f1f1f;
}

#app {
  min-height: 100vh;
}
