@use './variables.scss';

html,
body,
#app {
  margin: 0;
  height: 100%;
  min-height: 100%;
  font-family: 'Segoe UI', 'PingFang SC', sans-serif;
  background: variables.$page-background;
  color: #1f2937;
}

* {
  box-sizing: border-box;
}
